$color-background: #0e1323;

$color-work: hsl(15, 100%, 70%);
$color-play: hsl(195, 74%, 62%);
$color-study: hsl(348, 100%, 68%);
$color-exercise: hsl(145, 58%, 55%);
$color-social: hsl(264, 64%, 52%);
$color-self-care: hsl(43, 84%, 65%);

$color-person: hsl(246, 80%, 60%);

$color-small-font: #bbc0ff;

$color-btn: #7078c9;

$color-white: #fff;

$color-card-background: hsl(235, 46%, 20%);
$color-card-background-highlight: #33397a;
